<!DOCTYPE html>
<html lang="zh-cn">
{% extends "base.html" %}
{% block title %}
    <title>OMC-日志集中管理</title>
{% endblock %}

{% block contentwrapperpage%}
{% block pageheader %}
 <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            日志集中管理
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">日志集中管理</li>
          </ol>
        </section>
{% endblock%}
<br>
{% block elkurl %}

  <!--<iframe src="http://www.baidu.com" width="1180" height="700"></iframe>-->
  <iframe src="http://www.baidu.com" width=100% height="800"></iframe>

{% endblock %}
    </div><!-- ./content-wrapper -->
{% endblock %}

</html>
