<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ansible Web 管理系统</title>
        <meta name="description" content="跳羚科技 - Ansible Web 管理系统">
        <meta name="keywords" content="help">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="/static/assets/i/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <script src="/static/assets/js/echarts.min.js"></script>
        <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
        <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
        <link rel="stylesheet" href="/static/assets/css/app.css">
        <script src="/static/assets/js/jquery.min.js"></script>
    </head>
    <body data-type="help">
        <script src="/static/assets/js/theme.js"></script>

        <div class="am-g tpl-g">
            <!-- 头部 -->
            <header>
                <!-- logo -->
                <div class="am-fl tpl-header-logo">
                    <a href="/"><img src="/static/assets/img/logo.png" alt=""></a>
                </div>
                <!-- 右侧内容 -->
                <div class="tpl-header-fluid">
                    <!-- 侧边切换 -->
                    <div class="am-fl tpl-header-switch-button am-icon-list"></div>
                    <!-- 小标题 -->
                    <div class=" tpl-header-title am-fl am-vertical-align" style="height: 50px;">
                        <div class="am-vertical-align-middle am-text-success">
                            Ansible Web 管理系统
                        </div>
                    </div>
                    <!-- 其它功能-->
                    <div class="am-fr tpl-header-navbar">
                        <ul>
                            <!-- 欢迎语 -->
                            <li class="am-text-sm tpl-header-navbar-welcome am-dropdown" data-am-dropdown>
                                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                                </a>
                                <!-- 弹出列表 -->
                                <ul class="am-dropdown-content tpl-dropdown-content">
                                    <li class="tpl-dropdown-menu-notifications">
                                        <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                            <div class="tpl-dropdown-menu-notifications-title">
                                                <i class="am-icon-user"></i>
                                                <span style="margin-left:10px;">个人资料</span>
                                            </div>
                                            <div class="tpl-dropdown-menu-notifications-time">
                                                <span class="am-badge am-round am-fr" style="background-color:#99CCCC;">User</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tpl-dropdown-menu-notifications">
                                        <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                            <div class="tpl-dropdown-menu-notifications-title">
                                                <i class="am-icon-cog"></i>
                                                <span style="margin-left:10px;">系统设置</span>
                                            </div>
                                            <div class="tpl-dropdown-menu-notifications-time">
                                                <span class="am-badge am-round am-fr" style="background-color:#CC9999;">Setting</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="tpl-dropdown-menu-notifications">
                                        <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                            <i class="am-icon-power-off"></i> 退出
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="am-hide-sm-only">
                                <a href="javascript:;" id="admin-fullscreen">
                                    <span class="am-icon-arrows-alt"></span>
                                    <span class="admin-fullText">开启全屏</span>
                                </a>
                            </li>
                            <!-- 退出 -->
                            <li class="am-text-sm">
                                <a href="javascript:;">
                                    <span class="am-icon-sign-out"></span> 退出
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </header>
            <!-- 风格切换 -->
            <div class="tpl-skiner">
                <div class="tpl-skiner-toggle am-icon-cog">
                </div>
                <div class="tpl-skiner-content">
                    <div class="tpl-skiner-content-title">
                        选择主题
                    </div>
                    <div class="tpl-skiner-content-bar">
                        <span class="skiner-color skiner-white" data-color="theme-white"></span>
                        <span class="skiner-color skiner-black" data-color="theme-black"></span>
                    </div>
                </div>
            </div>
            <!-- 侧边导航栏 -->
            <div class="left-sidebar">
                <!-- 用户信息 -->
                <div class="tpl-sidebar-user-panel">
                    <div class="tpl-user-panel-slide-toggleable">
                        <div class="tpl-user-panel-profile-picture">
                            <img src="/static/assets/img/user03.png" alt="">
                        </div>
                        <span class="user-panel-logged-in-text">
                            <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>Gocjy
                        </span>
                    </div>
                </div>

                <!-- 菜单 -->
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-link">
                        <a href="/">
                            <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:;" class="sidebar-nav-sub-title">
                            <i class="am-icon-adn sidebar-nav-link-logo"></i> Ansible
                            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                        </a>
                        <ul class="sidebar-nav sidebar-nav-sub">
                            <li class="sidebar-nav-link">
                                <a href="/ansible/">
                                    <span class="am-icon-adn sidebar-nav-link-logo"></span> Ansible
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/playbook/">
                                    <span class="am-icon-book sidebar-nav-link-logo"></span> Playbook
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/hosts/">
                                    <span class="am-icon-database sidebar-nav-link-logo"></span> Hosts
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/files/">
                                    <span class="am-icon-file sidebar-nav-link-logo"></span> Files
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:;" class="sidebar-nav-sub-title">
                            <i class="am-icon-cogs sidebar-nav-link-logo"></i> 部署管理
                            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                        </a>
                        <ul class="sidebar-nav sidebar-nav-sub">
                            <li class="sidebar-nav-link">
                                <a href="/inventory/">
                                    <span class="am-icon-server sidebar-nav-link-logo"></span> 主机列表
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/group/">
                                    <span class="am-icon-sitemap sidebar-nav-link-logo"></span> 主机组列表
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/deploy/">
                                    <span class="am-icon-cubes sidebar-nav-link-logo"></span> 部署发布
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="javascript:;" class="sidebar-nav-sub-title">
                            <i class="am-icon-users sidebar-nav-link-logo"></i> 用户管理
                            <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                        </a>
                        <ul class="sidebar-nav sidebar-nav-sub">
                            <li class="sidebar-nav-link">
                                <a href="/user/">
                                    <span class="am-icon-book sidebar-nav-link-logo"></span> 用户列表
                                </a>
                            </li>
                            <li class="sidebar-nav-link">
                                <a href="/user/new/">
                                    <span class="am-icon-plus sidebar-nav-link-logo"></span> 添加用户
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/log/">
                            <i class="am-icon-calendar sidebar-nav-link-logo"></i> 系统日志
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/help/" class="sub-active active">
                            <i class="am-icon-puzzle-piece sidebar-nav-link-logo"></i> 帮助
                        </a>
                    </li>
                    <li class="sidebar-nav-link">
                        <a href="/logout/">
                            <i class="am-icon-sign-out sidebar-nav-link-logo"></i> 注销

                        </a>
                    </li>
                </ul>
            </div>

            <!-- 内容区域 -->
            <div class="tpl-content-wrapper">
                <div class="container-fluid am-cf">
                    <div class="row am-cf">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                            <div class="page-header-heading">
                                <span class="am-icon-puzzle-piece page-header-heading-icon"></span>
                                帮助
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-content am-cf">
                    <div class="row am-cf">
                        <div class="am-u-sm-12">
                            <div class="widget am-cf">
                                <div class="widget-head am-cf">
                                    <div class="widget-title am-fl"><span class="am-icon-question-circle"></span> 帮助信息</div>
                                </div>
                                <div class="widget-body am-text-center">
                                    <div class="row am-cf">
                                        <div class="am-u-sm-6">
                                            <div class="widget am-cf" style="border: 1px solid rgba(243,123,29,.35);">
                                                <div class="widget-head am-cf" style="color: #F37B1D;background-color: rgba(243,123,29,.35);">
                                                    <div class="widget-title am-fl"><span class="am-icon-star"></span> 项目结构</div>
                                                </div>
                                                <div class="widget-body am-text-left">
                                                    <ul>
                                                        <li>部署管理: <span>管理部署操作和主机参数的功能</span></li>
                                                        <li>主机列表: <span>添加，查看，修改，删除主机</span></li>
                                                        <li>主机组列表: <span>添加，删除主机组</span></li>
                                                        <li>部署发布: <span>项目的部署及其相关操作和信息</span></li>
                                                        <li>用户管理: <span>查看，修改，删除用户</span></li>
                                                        <li>用户列表: <span>添加，查看，修改，删除用户</span></li>
                                                        <li>添加用户: <span>添加用户</span></li>
                                                        <li>系统日志: <span>系统日志查询显示</span></li>
                                                        <li>帮助: <span>系统帮助</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="am-u-sm-6">
                                            <div class="widget am-cf" style="border: 1px solid rgba(94,185,94,.35);">
                                                <div class="widget-head am-cf" style="color: #5eb95e;background-color: rgba(94,185,94,.35);">
                                                    <div class="widget-title am-fl"><span class="am-icon-star"></span> 技术说明</div>
                                                </div>
                                                <div class="widget-body am-text-left">
                                                    <ul>
                                                        <li>语言: Python</li>
                                                        <li>框架：Django,AmazeUI</li>
                                                        <li>数据库：Sqlite3</li>
                                                        <li>底层支持: Ansible</li>
                                                        <li>技术：Ajax,MVT部分修改为MVC</li>
                                                        <li>服务端: 自带runserver脚本，开启自定义端口</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="am-u-sm-12">
                                            <div class="widget am-cf" style="border: 1px solid rgba(59,180,242,.35);">
                                                <div class="widget-head am-cf" style="color: #14a6ef;background-color: rgba(59,180,242,.35);">
                                                    <div class="widget-title am-fl"><span class="am-icon-star"></span> 流程说明</div>
                                                </div>
                                                <div class="widget-body am-cf am-text-left">
                                                    <p> 1.创建主机组: 输入要创建的组名及所属工程,组名按照(工程名-项目名)<br>
                                                        2.创建主机: 创建一个属于该主机组的主机,并选择一个主机组添加<br>
                                                        3.设置主机组项目: 设置主机组要执行那些项目(暂未完成)<br>
                                                        4.部署发布: 在部署页面选择单项部署或者全部部署
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-modal am-modal-alert" tabindex="-1" id="deletebox">
            <div class="am-modal-dialog">
              <div class="am-modal-hd">提示</div>
                <div class="am-modal-bd"></div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                </div>
            </div>
        </div>
        <div class="am-modal am-modal-alert" tabindex="-1" id="msgbox">
            <div class="am-modal-dialog">
              <div class="am-modal-hd">提示</div>
                <div class="am-modal-bd"></div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
            </div>
        </div>
        <script src="/static/assets/js/amazeui.min.js"></script>
        <script src="/static/assets/js/amazeui.datatables.min.js"></script>
        <script src="/static/assets/js/dataTables.responsive.min.js"></script>
        <script src="/static/assets/js/app.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                //页面打开时自动加载列表数据
                $.ajax({
                   type:'post',
                   url:'/groupList/',
                    datatype: 'json',
                   success:function(data){
                       var list = $("#groupList");
                       list.html("");
                       for (x in data) {
                           var tr =
                           "<tr class=\"am-text-center\"><td>"+data[x].id+"</td><td>"+data[x].name+"</td><td>"+data[x].project+"</td>"+
                           "<td><div class=\"tpl-table-black-operation\">"+
                           "<a href=\"javascript:;\" class=\"delete-tr tpl-table-black-operation-del\"><i class=\"am-icon-trash\"></i> 删除</a>"+
                           "</div></td></tr>";
                           list.append(tr);
                       }
                   }
                });
                //删除按钮事件
                $('#groupList').on('click','.delete-tr',function(){
                    var thisTr = $(this).parent().parent().parent();
                    var groupId = thisTr.children(":first").text();
                    var msg = '你要删除的主机组ID为 ' + groupId;
                    $("#deletebox .am-modal-bd").text(msg);
                    $('#deletebox').modal({
                        relatedTarget: this,
                        onConfirm: function() {
                            var thisTr = $(this.relatedTarget).parent().parent().parent();
                            var id = thisTr.children(":first").text();
                            $.ajax({
                                 type:'post',
                                 url:'/group/delete/',
                                 data: 'id='+id,
                                 datatype: 'json',
                                 success:function(data){
                                     if (data.status =="ok") {
                                         thisTr.remove();
                                     }else {
                                         alert("删除失败");
                                     }
                                 }
                            });
                        },
                        onCancel: function() {}
                    });
                });
                // 添加按钮事件
                $('#add-group').click(function(){
                    var groupName = $('#add-group-name').val();
                    var projectName = $('#add-group-prjname').val();
                    if (groupName == "" || groupName == null || projectName == "" || projectName == null) {
                        $("#msgbox .am-modal-bd").text("主机组名和项目名不能为空");
                        $('#msgbox').modal({
                            relatedTarget: this,
                            onConfirm: function() {
                            }
                        });
                    }else {
                        $.ajax({
                            type:'post',
                            url:'/group/add/',
                            data: 'name='+groupName+'&project='+projectName,
                            datatype: 'json',
                            success:function(data){
                                if (data == "ok") {
                                    $('#add-group-name').val("");
                                    $("#refresh").trigger('click');
                                }else {
                                    alert("添加失败！")
                                }
                            }
                        });
                    }
                });
                //刷新按钮事件
                $("#refresh").click(function (){
                    $.ajax({
                        type:'post',
                        url:'/groupList/',
                         datatype: 'json',
                        success:function(data){
                            var list = $("#groupList");
                            list.html("");
                            for (x in data) {
                                var tr =
                                "<tr class=\"am-text-center\"><td>"+data[x].id+"</td><td>"+data[x].name+"</td><td>"+data[x].project+"</td>"+
                                "<td><div class=\"tpl-table-black-operation\">"+
                                 "<a href=\"javascript:;\" class=\"delete-tr tpl-table-black-operation-del\"><i class=\"am-icon-trash\"></i> 删除</a>"+
                                "</div></td></tr>";
                                list.append(tr);
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>