<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ansible Web 管理系统</title>
    <meta name="description" content="跳羚科技 - Ansible Web 管理系统">
    <meta name="keywords" content="hosts">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="/static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <script src="/static/assets/js/jquery.min.js"></script>
</head>

<body data-type="hosts">
    <script src="/static/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="/"><img src="/static/assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list"></div>
                <!-- 小标题 -->
                <div class=" tpl-header-title am-fl am-vertical-align" style="height: 50px;">
                	<div class="am-vertical-align-middle am-text-success">
                		Ansible Web 管理系统
                	</div>
            	</div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome am-dropdown" data-am-dropdown>
                            <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                            	<span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                            </a>
                        	<!-- 弹出列表 -->
                            <ul class="am-dropdown-content tpl-dropdown-content">
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <div class="tpl-dropdown-menu-notifications-title">
                                            <i class="am-icon-user"></i>
                                            <span style="margin-left:10px;">个人资料</span>
                                        </div>
                                        <div class="tpl-dropdown-menu-notifications-time">
                                            <span class="am-badge am-round am-fr" style="background-color:#99CCCC;">User</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <div class="tpl-dropdown-menu-notifications-title">
                                            <i class="am-icon-cog"></i>
                                            <span style="margin-left:10px;">系统设置</span>
                                        </div>
                                        <div class="tpl-dropdown-menu-notifications-time">
                                            <span class="am-badge am-round am-fr" style="background-color:#CC9999;">Setting</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <i class="am-icon-power-off"></i> 退出
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="am-hide-sm-only">
                        	<a href="javascript:;" id="admin-fullscreen">
                        		<span class="am-icon-arrows-alt"></span>
                        		<span class="admin-fullText">开启全屏</span>
                        	</a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="/static/assets/img/user03.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>Gocjy
                    </span>
                </div>
            </div>

            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="/">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-adn sidebar-nav-link-logo"></i> Ansible
                        <span class="am-icon-chevron-up am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub" style="display: block;">
                        <li class="sidebar-nav-link">
                            <a href="/ansible/">
                                <span class="am-icon-adn sidebar-nav-link-logo"></span> Ansible
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/playbook/">
                                <span class="am-icon-book sidebar-nav-link-logo"></span> Playbook
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/hosts/" class="sub-active active">
                                <span class="am-icon-database sidebar-nav-link-logo"></span> Hosts
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/files/">
                                <span class="am-icon-file sidebar-nav-link-logo"></span> Files
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-cogs sidebar-nav-link-logo"></i> 部署管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="/inventory/">
                                <span class="am-icon-server sidebar-nav-link-logo"></span> 主机列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/group/">
                                <span class="am-icon-sitemap sidebar-nav-link-logo"></span> 主机组列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/deploy/">
                                <span class="am-icon-cubes sidebar-nav-link-logo"></span> 部署发布
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-users sidebar-nav-link-logo"></i> 用户管理
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="/user/">
                                <span class="am-icon-book sidebar-nav-link-logo"></span> 用户列表
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="/user/new/">
                                <span class="am-icon-plus sidebar-nav-link-logo"></span> 添加用户
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/log/">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 系统日志
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/help/">
                        <i class="am-icon-puzzle-piece sidebar-nav-link-logo"></i> 帮助
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/logout/">
                        <i class="am-icon-sign-out sidebar-nav-link-logo"></i> 注销
                    </a>
                </li>
            </ul>
        </div>


        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading">
                        	<span class="am-icon-adn page-header-heading-icon"></span>
                            Ansible <small style="color:#FF9900">/ Hosts</small>
                        </div>
                    </div>
                </div>
            </div>

			<div class="row-content am-cf">

                <div class="widget">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl"><span class="am-icon-database"></span> Ansible Hosts 文件编辑</div>
                    </div>
                    <div class="widget widget-body">

                        <div class="row am-cf">
                            <div class="am-u-sm-12">
                                <div class="widget am-cf" style="border: 1px solid rgba(243,123,29,.35);">
                                    <div class="widget-head am-cf" style="color: #F37B1D;background-color: rgba(243,123,29,.35);">
                                        <div class="widget-title am-fl"><span class="am-icon-commenting"></span> /etc/ansible/hosts</div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="am-cf">
                                            <span>说明：编辑ansible的hosts文件,也可选择根据数据库资产关系自动生成.</span>
                                            <span class="am-fr">
                                                <button id="edit-hosts-sync" class="am-btn am-btn-warning">生成</button>
                                                <button id="edit-hosts" class="am-btn am-btn-secondary">编辑</button>
                                                <button id="edit-hosts-confirm" class="am-btn am-btn-success">完成</button>
                                            </span>
                                        </div>
                                        <div style="height: 1px;margin:15px 0px;border-top: 1px solid rgba(243,123,29,.35);"></div>
                                        <div id="hosts-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="alertbox">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示</div>
                <div class="am-modal-bd"></div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                </div>
        </div>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="confirmbox">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示</div>
                <div class="am-modal-bd"></div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-confirm>确定</span>
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                </div>
        </div>
    </div>
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="progress-box">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-warning"><span class="am-icon-warning"></span> 正在执命令，请稍候...</div>
            <div class="am-modal-bd">
              <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-alert" tabindex="-1" id="progress-box-success">
        <div class="am-modal-dialog">
            <div class="am-modal-hd am-text-secondary">提示</div>
            <div class="am-modal-bd am-text-success">
                <span class="am-icon-check"></span>
                执行完毕！
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/amazeui.datatables.min.js"></script>
    <script src="/static/assets/js/dataTables.responsive.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function (){
            function loadhosts(){
                $.ajax({
                    type:"post",
                    url:'/hosts/get/',
                    success:function(data){
                        $('#hosts-content').html('');
                        var line =
                            "<textarea name=\"textarea\"" +
                                  " id=\"hosts-text\" "+
                                  " readonly " +
                                  " style='overflow-y: hidden;height:20px;width:100%;outline: none;resize: none;border:0px;' >" + data +
                            "</textarea>";
                        $('#hosts-content').append(line);
                        $('#hosts-text').height($('#hosts-text')[0].scrollHeight + 'px');
                    }
                });
            }
            loadhosts();
            $('#edit-hosts-confirm').hide();
            $('#edit-hosts').click(function (){
                var text_old = $('#hosts-text').val();
                $('#hosts-content').html('');
                var line =
                        "<textarea name=\"textarea\"" +
                              " id=\"hosts-text\" "+
                              " style='overflow-y: hidden;height:20px;width:100%;resize: none;' >" + text_old +
                        "</textarea>";
                $('#hosts-content').append(line);
                $('#hosts-text').height($('#hosts-text')[0].scrollHeight + 'px');
                $(this).hide();
                $('#edit-hosts-confirm').show();
            });
            $('#edit-hosts-confirm').click(function (){
                var text = $('#hosts-text').val();
                $.ajax({
                    type:"post",
                    url:'/hosts/set/',
                    data: 'text='+text,
                    success:function(data){
                        if (data == "ok"){
                            $('#edit-hosts-confirm').hide();
                            $('#edit-hosts').show();
                            loadhosts();
                            alertBox("更新成功!");
                        }else {
                            alertBox("更新失败!");
                        }
                    }
                });
            });

            function alertBox(msg){
                $("#alertbox .am-modal-bd").text(msg);
                $('#alertbox').modal({
                    relatedTarget: this,
                    onConfirm: function() {}
                });
            }

            $('#edit-hosts-sync').click(function (){
                $.ajax({
                    type:"post",
                    url:'/hosts/list/',
                    success:function(data){
                        $('#hosts-content').html('');
                        var log_line =
                            "<textarea name=\"textarea\"" +
                                  " id=\"hosts-text\" "+
                                  " readonly " +
                                  " style='overflow-y: hidden;height:20px;width:100%;outline: none;resize: none;border:0px;' >" + data +
                            "</textarea>";
                        $('#hosts-content').append(log_line);
                        $('#hosts-text').height($('#hosts-text')[0].scrollHeight + 'px');
                        alertBox("同步完成!");
                    }
                });
            });
        });
    </script>
</body>
</html>