{% extends 'index.html' %}
{% block page-title %}

计划任务

{% endblock %}
{% block pageheader %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            计划任务
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">计划任务</li>
          </ol>
        </section>
        {% endblock%}

{% block page-content %}

    <div class="panel">

        <div class="panel-body">
            <h2>此页正在施工中！</h2>
        </div>

    </div>

{% endblock %}