<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block title %}
<title>OMC-资产位置</title>
{% endblock %}
{% block contentwrapperpage%}
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            资产位置
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">资产位置</li>
          </ol>
        </section>
        <br>
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div align="center">A列</div>
                <table class="jjtable" bgcolor="#ffffff" border="0" cellpadding="1" cellspacing="3" width="996" align="center">
                <tbody>
                  <tr align="center" valign="top">
                    <td background="/static/jigui/jg.gif" bgcolor="#eeeeee" width="147">
                <table border="0" cellpadding="1" cellspacing="0" height="440" width="99%">
                <tbody>
                  <tr>
                	  <td class="jgtable" align="center" height="30" valign="bottom"></td>
                	</tr>
                  <tr>
                	  <td class="jgtable" align="center" height="30" valign="bottom">
                	    <img src="/static/jigui/1u_normal.gif" style="vertical-align: bottom;" onmouseover="displayDIV('operate 0 '); return false" onmouseout="hiddenDIV('operate 0 '); return false" height="12" width="127">
                	    <div id="operate 0 " style="border-style: outset; border-color: -moz-use-text-color; border-width: 1px 2px 2px 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: none; position: absolute; width: 200px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; text-align: left;">
                	      <table cellpadding="3" cellspacing="1">
                	        <tbody>
                	          <tr>
                	            <td>IP:' + HostList.ip +'<br>
                	            操作系统:' + HostList.system + '<br>
                	            位置:' + HostList.ip + '<br>
                	            机型:' + HostList.product + '<br>
                	            </td>
                	         </tr>
                	       </tbody>
                	     </table>
                	   </div>
&nbsp;
                	  </td>
                	</tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">02</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">03</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">04</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">05</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">06</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">07</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">08</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">09</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">10</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"></td>
                  </tr>
                 </tbody></table>
                </td>
                </td>
                </tr>
                </tbody></table>
              <div align="center">B列</div>
                <table class="jjtable" bgcolor="#ffffff" border="0" cellpadding="1" cellspacing="3" width="996" align="center">
                <tbody>
                  <tr align="center" valign="top">
                    <td background="/static/jigui/jg.gif" bgcolor="#eeeeee" width="147">
                <table border="0" cellpadding="1" cellspacing="0" height="440" width="99%">
                <tbody>
                  <tr>
                	  <td class="jgtable" align="center" height="30" valign="bottom"></td>
                	</tr>
                  <tr>
                	  <td class="jgtable" align="center" height="30" valign="bottom">
                	    <img src="/static/jigui/1u_normal.gif" style="vertical-align: bottom;" onmouseover="displayDIV('operate 0 '); return false" onmouseout="hiddenDIV('operate 0 '); return false" height="12" width="127">
                	    <div id="operate 0 " style="border-style: outset; border-color: -moz-use-text-color; border-width: 1px 2px 2px 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: none; position: absolute; width: 200px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; text-align: left;">
                	      <table cellpadding="3" cellspacing="1">
                	        <tbody>
                	          <tr>
                	            <td>IP:' + HostList.ip +'<br>
                	            操作系统:' + HostList.system + '<br>
                	            位置:' + HostList.ip + '<br>
                	            机型:' + HostList.product + '<br>
                	            </td>
                	         </tr>
                	       </tbody>
                	     </table>
                	   </div>
&nbsp;
                	  </td>
                	</tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">02</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">03</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">04</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">05</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">06</font></td>
                  </tr>
                <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">07</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">08</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">09</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"><font class="jgtitle">10</font></td>
                  </tr>
                  <tr>
                  <td class="jgtable" align="center" height="30" valign="bottom"></td>
                  </tr>
                 </tbody></table>
                </td>
                </td>
                </tr>
                </tbody></table>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->
    {% endblock %}         
    {% block js %}
<!-- jQuery 2.1.4 -->
    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- Table2excel -->
    <script>window.jQuery || document.write('<script src="/static/plugins/table2excel/js/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="/static/plugins/table2excel/dist/jquery.table2excel.js"></script>
    <!-- jigui -->
    <script src="/static/jigui/server_top.js" language="javascript"></script>
    <script src="/static/jigui/server_down.js" language="javascript"></script>
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
      $(function() {
			$("#btn").click(function(){
				$(".table2excel").table2excel({
					exclude: ".noExl",
					name: "Excel Document Name",
					filename: "asset",
					fileext: ".xls",
					exclude_img: true,
					exclude_links: true,
					exclude_inputs: true
				});
			});
			
		});

    </script>
{% endblock %}
</html>